



<div class="container">
	<div class="row">
	<div class="col-md-6">
<h1> Message Dashboard</h1>
<%= link_to "new messages", new_message_path %>
<table>
  <tr>
    <th>Sender</th>
    <th>Receiver</th>
    <th>Title</th>
    <th>Text</th>
  </tr>
 <% @messages.each do |msg| %>
	<tr>
		<% if msg.reciever_id == current_user.id %>
		    <td><%= msg.sender.email %></td>
		    <td><%= msg.reciever.email %> </td>
		    <td><%= link_to "#{msg.title}", message_path(msg.id) %></td>
		    <td><%= msg.message_text %> </td>

	    <% end %>

  </tbody>
</table> 

    </tr>
<% end %>

</table>
</div>
<div class="col-md-6"></div>
</div>
	



