<<<<<<< HEAD



<div class="container">
	<div class="row">
	<div class="col-md-6">
<h1> Message Dashboard</h1>
<%= link_to "new messages", new_message_path %>
<table>



	<tbody>
		<tr>
			<th>Sender</th>
			<th>Receiver</th>
			<th>Title</th>
			<th>Text</th>
		</tr>
		<% @messages.each do |msg| %>
			<%= puts msg.reciever.class %>
			<% if msg.reciever_id == current_user.id %>
				<tr class="success">
				    <td><%= msg.sender.email %></td>
				    <td><%= msg.reciever.email %> </td>
				    <td><%= link_to "#{msg.title}", message_path(msg.id) %></td>
				    <td><%= msg.message_text %> </td>
				</tr>
			<% end %>
	    <% end %>
	</tbody>

</table> 




=======

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1> <FONT COLOR="white">Message Dashboard</FONT></h1>
			<%= link_to "new messages", new_message_path %>
			<table class= "table table-bordered table-hover">
				<thead>
					<tr>
						<th>Sender</th>
						<th>Title</th>
						<th>Text</th>
					</tr>
				</thead>
				<tbody >
					<% @messages.each do |msg| %>
					<tr class="success" >
						<% if msg.reciever_id == current_user.id %>
						<td><%= msg.sender.email %></td>
						<td><%= link_to "#{msg.title}", message_path(msg.id) %></td>
						<td><%= msg.message_text %> </td>
					</tr>
				</tbody>
				<% end %>
				<% end %>
			</table>
		</div>
	</div>
>>>>>>> d83afb6c2c51c2a303d05c4d2b87ddbe8b5fbc46
</div>
<div class="col-md-4">
</div>
