 <div class="container">
 	<div class="row">
 		<div class="col-md-6">
 		<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>
 
<p>
  <strong>Message:</strong>
  <%= @message.message_text %>
</p> 

<%= link_to 'Back', messages_path %>
<% if current_user == @message.sender %>  
<%= link_to 'Edit', edit_message_path(@message) %>
<% end %>
<%= link_to 'Reply', new_message_path %>
</div>
</div>
</div>