
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      <h1>Travel Tinder</h1>
      <p>People Looking Traveling Companions</p>      
      <div class="row">
        <div class="col-sm-6" style="background-color:lavender;">
          <p> <% @users.each do |u| %>
          <ul>
            <l1>
            <%= image_tag u.image_url(:small_image).to_s %>
            <%= u.email %>
            <%= u.age %>
            <%= u.gender %>
            <%= u.seeking_gender %>
            <%= link_to "Ask em to Travel!", new_message_path %>
            </l1>
          </ul>
          </p>
          <% end %>
            
        </div>
        <div class="col-sm-6" style="background-color:lavenderblush;">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
      </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>

