<html style="
  background: url( http://i.imgur.com/ilwSOMm.jpg) no-repeat center center fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">


 <div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 style="color: white; text-shadow: black 0.1em 0.1em 0.2em;">Listing Destinations</h1>
      <a href="destinations/new" class="btn btn-default">New Destination</a>



      <table class="table table-hover opbrown" >
        <thead style="background-color: black;">
          <tr>
            <th>Location</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Show</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @destinations.each do |destination| %>
          <tr >
            <td><%= destination.location %></td>
            <td><%= destination.start_date %> </td>
            <td><%= destination.end_date %> </td>
            <td><button type="button" class="btn btn-default"><%= link_to 'Show', destination_path(destination) %></button></td>
            <td><button type="button" class="btn btn-default"><%= link_to 'Edit', edit_destination_path(destination) %></button></td>
            <td><button type="button" class="btn btn-default"><%= link_to 'Destroy', destination_path(destination), method: :delete, data: { confirm: 'Sure?' } %></button></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

