 <div class="container">
 	<div class="row">
 		<div class="col-md-6">
<p>
  <strong>Location:</strong>
  <%= @destination.location %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @destination.start_date %>
</p> 

<p>
  <strong>End Date:</strong>
  <%= @destination.end_date %>
</p> 

<p>
  <strong>User ID:</strong>
  <%= @destination.user_id %>
</p> 

<%= link_to 'Back', destinations_path %>
| <%= link_to 'Edit', edit_destination_path(@destination) %>
</div>
</div>
</div>